= form_for [@department, @woker], html:{class: "form-horizontal"} do |f|
  .form-group
    = f.label :name, class:'col-sm-1 control-label'
    .col-sm-3
      = f.text_field :name, placeholder: "Name", class: "form-control"
    = f.error_span(:name)
  .form-group
    = f.label :surname, class:'col-sm-1 control-label'
    .col-sm-3
      = f.text_field :surname, placeholder: "Surname", class: "form-control"
    = f.error_span(:surname)
  .form-group
    = f.label :born, class:'col-sm-1 control-label'
    .col-sm-3
      = f.date_field :born, pattern: '\d{2,2}\.\d{2,2}\.\d{4,4}', placeholder: "dd.mm.yyyy", class: "form-control"
    = f.error_span(:born)
  .form-group
    = f.label :gender, class:'col-sm-1 control-label'
    .col-sm-3
      = f.select :gender, Woker.genders.keys, class: "form-control"
    = f.error_span(:gender)
  .form-group
    = f.label :position, class:'col-sm-1 control-label'
    .col-sm-3
      = f.text_field :position, placeholder: "Position", class: "form-control"
    = f.error_span(:position)
  .form-group
    .col-sm-offset-1.col-sm-10
      = f.submit nil, class: "btn btn-info"
      '
      = link_to t('.cancel', :default => t("helpers.links.cancel")), department_path(@department), :class => 'btn'
