- model_class = Woker
.page-header
  h1=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize
  = form_for @woker, html:{class: "form-horizontal"} do |f|
    .form-group
      = f.label :name, class:'col-sm-1 control-label'
      .col-sm-2
        = f.text_field :name, class: "form-control"
      = f.error_span(:name)
    .form-group
      = f.label :surname, class:'col-sm-1 control-label'
      .col-sm-2
        = f.text_field :surname, class: "form-control"
      = f.error_span(:surname)
    .form-group
      = f.label :born, class:'col-sm-1 control-label'
      .col-sm-2
        = f.text_field :born, pattern: '\d{2,2}\.\d{2,2}\.\d{4,4}', class: "form-control"
      = f.error_span(:born)
    .form-group
      = f.label :gender, class:'col-sm-1 control-label'
      .col-sm-2
        = f.select :gender, Woker.genders.keys, class: "form-control"
      = f.error_span(:gender)
    .form-group
      = f.label :position, class:'col-sm-1 control-label'
      .col-sm-2
        = f.text_field :position, class: "form-control"
      = f.error_span(:position)
    .form-group
      = f.label :department_id, class:'col-sm-1 control-label'
      .col-sm-2
        = f.select(:department_id, options_for_select((@departments), @woker.department_id), class: "form-control")
      = f.error_span(:department_id)
    .form-group
      .col-sm-offset-1.col-sm-10
        = f.submit nil, class: "btn btn-info"
        '
        = link_to t('.cancel', :default => t("helpers.links.cancel")), department_path(@woker.department_id), :class => 'btn'
