- model_class = Woker
.page-header
  h1= @woker.name + " " + @woker.surname

table.table.table-bordered
  tr
    td [width="30%", align="right"]
      |Name:
    td
      = @woker.name
  tr
    td [align="right"]
      |Surname:
    td
      = @woker.surname
  tr
    td [align="right"]
      |Born:
    td
      = @woker.born
  tr
    td [align="right"]
      |Gender:
    td
      = @woker.gender
  tr
    td [align="right"]
      |Position:
    td
      = @woker.position
  tr
    td [align="right"]
      |Department:
    td
      = @woker.department.title


= link_to t('.back', :default => t("helpers.links.back")), department_path(@department), :class => 'btn btn-default'
'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_woker_path(@woker), :class => 'btn btn-default'
'
= link_to t('.destroy', :default => t("helpers.links.destroy")), woker_path(@woker), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
