= form_for @user, html:{class: "form-horizontal"} do |f|
  .form-group
    = f.label :email, class:'col-sm-1 control-label'
    .col-sm-3
      = f.text_field :email, class: "form-control"
    = f.error_span(:email)
  .form-group
    = f.label :password, class:'col-sm-1 control-label'
    .col-sm-3
      = f.text_field :password, class: "form-control"
    = f.error_span(:password)
  .form-group
    = f.label :role, class:'col-sm-1 control-label'
    .col-sm-3
      = f.select :admin, options_for_select([['user', 'false'], ['admin', 'true']]), class: "form-control"
    = f.error_span(:admin)
  .form-group
    .col-sm-offset-1.col-sm-10
      = f.submit nil, class: "btn btn-info"
      '
      = link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn'
