- model_class = User
.page-header
  h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
.main-block
  .head
    .button
      = link_to 'Add user', new_user_path, :class => 'btn btn-primary'
  table.table.table-striped
    thead
      tr
        th= model_class.human_attribute_name(:id)
        th[width="50%"]= model_class.human_attribute_name(:email)
        th= model_class.human_attribute_name(:admin)
        th[width="25%"]=t '.actions', :default => t("helpers.actions")
    tbody
      - @users.each do |user|
        tr
          td= link_to user.id, user_path(user)
          td= user.email
          td= user.admin
          td
            = link_to t('.show', :default => t("helpers.links.show")), user_path(user), :class => 'btn btn-default btn-xs'
            '
            = link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(user), :class => 'btn btn-default btn-xs'
            '
            = link_to t('.destroy', :default => t("helpers.links.destroy")), user_path(user), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'
