- model_class = User
.page-header
  h1=t '.title', :default => model_class.model_name.human.titleize

  table.table.table-bordered
    tr
      td [width="30%", align="right"]
        |Email:
      td
        = @user.email
    tr
      td [align="right"]
        |Admin:
      td
        = @user.admin
    tr
      td [align="right"]
        |Current sign in at:
      td
        = @user.current_sign_in_at
    tr
      td [align="right"]
        |Current sign in IP:
      td
        = @user.current_sign_in_ip
    tr
      td [align="right"]
        |Last sign in at:
      td
        = @user.last_sign_in_at
    tr
      td [align="right"]
        |Last sign in IP:
      td
        = @user.last_sign_in_ip

= link_to t('.back', :default => t("helpers.links.back")), users_path, :class => 'btn btn-default'
'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(@user), :class => 'btn btn-default'
'
= link_to t('.destroy', :default => t("helpers.links.destroy")), user_path(@user), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
