= form_for @department, html:{class: "form-horizontal"} do |f|
  .form-group
    = f.label :title, class:'col-sm-1 control-label'
    .col-sm-4
      = f.text_field :title, class: "form-control"
    = f.error_span(:title)
  .form-group
    = f.label :description, class:'col-sm-1 control-label'
    .col-sm-4
      = f.text_field :description, class: "form-control"
    = f.error_span(:description)
  .form-group
    .col-sm-offset-1.col-sm-10
      = f.submit nil, class: "btn btn-info"
      '
      = link_to t('.cancel', :default => t("helpers.links.cancel")), departments_path, :class => 'btn'
