- model_class = Department
.page-header
  h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
.main-block
  .head
    .sorting
      = form_tag departments_path, method: :get, class: 'sort' do
        .form-group
          = check_box_tag('sort', 'title', params[:sort], onchange: 'this.form.submit()')
          = label :sort, 'Sort by title'

    .button
      = link_to 'New department', new_department_path, :class => 'btn btn-primary'

  table.table.table-striped

    thead
      tr
        th= model_class.human_attribute_name(:id)
        th= model_class.human_attribute_name(:title)
        th= model_class.human_attribute_name(:description)
        th=t '.actions', :default => t("helpers.actions")
    tbody
      - @departments.each do |department|
        tr
          td= department.id
          td= link_to department.title, department_path(department)
          td= department.description
          td
            = link_to t('.show', :default => t("helpers.links.show")), department_path(department), :class => 'btn btn-default btn-xs'
            '
            = link_to t('.edit', :default => t("helpers.links.edit")), edit_department_path(department), :class => 'btn btn-default btn-xs'
            '
            = link_to t('.destroy', :default => t("helpers.links.destroy")), department_path(department), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

  .pg
    = paginate @departments

.chart-block
  = column_chart Woker.group(:department_id).count
