- model_class = Department
.page-header
  h1 = @department.title
  h4 = @department.description

.main-block
  .head
    .sorting
      = form_tag department_path, method: :get, class: 'sort' do
        .form-group
          = label :sort, 'Sort by:'
          = select_tag('sort', options_for_select([['Name', 'name'], ['Surname', 'surname'], ['Born', 'born'], ['Gender', 'gender']], params[:sort]), onchange: 'this.form.submit()')
        = submit_tag 'submit'
        = javascript_tag "$('.sort input').hide()"
    .button
      = link_to 'Add woker', new_department_woker_path(@department), :class => 'btn btn-primary'

  table.table.table-striped
    thead
      tr
        th= model_class.human_attribute_name(:id)
        th= model_class.human_attribute_name(:name)
        th= model_class.human_attribute_name(:surname)
        th= model_class.human_attribute_name(:position)
        th= model_class.human_attribute_name(:born)
        th= model_class.human_attribute_name(:gender)
        th=t '.actions', :default => t("helpers.actions")
    tbody
      - @wokers.each do |woker|
        tr
          td= woker.id
          td= woker.name
          td= woker.surname
          td= woker.position
          td= woker.born
          td= woker.gender
          td
            = link_to t('.show', :default => t("helpers.links.show")), woker_path(woker), :class => 'btn btn-default btn-xs'
            '
            = link_to t('.edit', :default => t("helpers.links.edit")), edit_woker_path(woker), :class => 'btn btn-default btn-xs'
            '
            = link_to t('.destroy', :default => t("helpers.links.destroy")), woker_path(woker), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

  .pg
    = paginate @wokers
