= form_for(resource, as: resource_name, url: session_path(resource_name), html:{class: "form-horizontal"}) do |f|
  fieldset
    h3
      | Log in
    .form-group
      = f.label :email, class:'col-sm-1 control-label'
      .col-sm-2
        = f.email_field :email, autofocus: true, class: "form-control"
    .form-group
      = f.label :password, class:'col-sm-1 control-label'
      .col-sm-2
        = f.password_field :password, autocomplete: "off", class: "form-control"

    .form-group
      .col-sm-offset-1.col-sm-10
        = f.submit "Log in", class: "btn btn-info"
