/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

#main {
  margin: 2em;

  .table.table-striped {
    width: 70%;
  }

  .table.table-bordered {
    width: 50%;
  }

  .main-block, .chart-block {
    margin: 2em;
  }
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  margin: 2em;
  padding: 1em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#notice:empty {
  display: none;
}

//pagination
.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

  .pagination {
    border-left: 1px solid #ddd;
    .first {
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page {
        padding : 0;
        float: none;
        border: none;
    }
    .next {
        padding : 0;
        float: none;
        border: none;
    }
    .last {
        padding : 0;
        float: none;
        border: none;
    }
}
