// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sorting {
  display: inline-block;
  width: 60%;
}

.button {
  display: inline-block;
}

.pg {
  text-align: center;
}
