doctype html
html

  head
    title My API
    meta name="keywords" content="template language"
    = csrf_meta_tags
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'

  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          = link_to 'Manager', root_path, class:"navbar-brand"
        ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            li.dropdown
              a.dropdown-toggle[href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"]
                strong
                  = current_user.email
                span.caret
              ul.dropdown-menu
                - if current_user.admin
                  li
                    = link_to "Users", users_path
                  li.divider[role="separator"]
                li
                  = link_to "Logout", destroy_user_session_path, method: :get
    p#notice
      = notice
    #main
      = yield
